
#root {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('./assets/bg-image.jpg') ; 
  background-size: contain;
  /* font-size: 35px; */
}

/* body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.font-primary{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  /* font-size: 4.4em; */
}

.font-secondary {
  font-family: 'Source Sans 3', sans-serif;
}

.card-overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.40) 10%, rgba(0, 0, 0, 0.8) 90%);
}

.navbar-toggler {
  border: none;
  outline: none;
}

.multicolor {
  display: inline-block;
  background: linear-gradient(90deg, #E19864 20%, #E75F8B 50%, #AB35EF 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.offcanvas-header .btn-close {
  outline: none;
  box-shadow: none;
}

.menu-bg, .bg-color {
  background: linear-gradient(254deg, #040119 14.1%, #050332 100%);
  color: white;
}

.nav-link {
  transition: all 0.3s;
}

.nav-link:hover {
  background: linear-gradient(90deg, #E19864 20%, #E75F8B 50%, #AB35EF 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5.1rem;
}
.nav-link:hover::before {
  content: "<";
}
.nav-link:hover::after {
  content: "/>";
}

#contact a {
  opacity: 50%;
  transition: all 0.3s;
}
#contact a:hover {
  opacity: 100%;
}

.card {
  width: 7rem;
  height: auto;
}

/* @media (prefers-color-scheme: light) {
  #root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
